.hangman-word-container {
    font-size: 5rem;
    text-align: center;
}

.letter-styles {
    margin-inline: .20em;
    border-bottom: 5px solid #fff;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0;
}

.reveal-on-fail:not(.active) {
    opacity: 1;
    background-color: red;
}