.modal {
    background: linear-gradient(45deg, #040401 0%, #0a0d09 24%, #0d0f0c 50%, #171a14 76%, #1d221b 100%);
    border: 5px solid white;
    color: white;
    padding: 1rem 2rem;
    text-align: center;

    ::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
}

.result-modal {
    h1 {
        font-size: 4rem;
    }

}

.word-definition-modal {
    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.word-definition-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}