.modal {
    background: linear-gradient(45deg, #040401 0%, #0a0d09 24%, #0d0f0c 50%, #171a14 76%, #1d221b 100%);
    border: 5px solid white;
    color: white;
    padding: 1rem 2rem;
    text-align: center;

    h1 {
        font-size: 4rem;
    }

    button {
        font-family: 'Omori';
        font-weight: bold;
        font-size: 2rem;
        color: white;
        background: none;
        outline: none;
        border-style: none;
        padding: .5em;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    ::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
}